.clients {
    text-align: center;

    // @media screen and (min-width: 480px) {
    //     width: 450px;
    // }

    // @media screen and (min-width: 768px) {
    //     width: 738px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 1170px;
    // }
}

.clients__title {
    font-size: 28px;
        font-weight: 700;
    line-height: 1.17;
    margin-bottom: 30px;
    
        @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    }
}

.clients__list {
display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
        @media screen and (min-width: 1200px) {
            justify-content: center;
                align-items: center;
}
}

.clients__icon {
    fill: currentcolor;
}

.clients__link {
    width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
        color: #afb1b8;
    transition: color 250ms var(--cubic-brizer), border-color 250ms var(--cubic-brizer);
    
    @media screen and (min-width: 768px) {
        width: 226px;
        }
                  @media screen and (min-width: 1200px) {
                      width: 170px;
        }
    }

    .clients__link:hover,
    .clients__link:focus {
        border-color: getColor('accent-text');
        color: getColor('accent-text');
}
