.feature {

    // @media screen and (min-width: 480px) {
    //         width: 450px;
    //     }
    // @media screen and (min-width: 768px) {
    //     width: 738px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 1170px;
    // }

    &__list {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            flex-basis: calc(100% / 4 - 30px);
        }
    }

    &__container {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;

        width: 100%;
        height: 120px;
        background-color: getColor('third-bcg');

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 127px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
        @media screen and (max-width: 767.98px) {
                text-align: center;
            }
    }

    &__text {
        color: getColor('paragraph-text');
        width: 100%;
        line-height: calc(24 / 14);

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
