.menu-toggle {
  margin-left: auto;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
margin: 0;
margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  // @media screen and (max-width: 767.98px) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  margin: 0 auto;
  background-color: getColor('title');
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-out;
        // }
}

.menu-container.is-open {
  //  @media screen and (max-width: 767.98px) {
  transform: translateX(0);
  //  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: transparent;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .link.current {
  color: #2196f3;
}

.menu__contacts {
  margin-top: 302px;
}

.mobile-menu .link {
  display: block;
  color: getColor('primary-gray');
  text-decoration: none;

  font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
}

.menu__contacts-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;
  color: getColor('paragraph-text');
}

.social-links-menu {
  display: flex;
  margin-top: 64px;
}

.social-links-menu .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: getColor('accent-text');
  padding-left: 10px;
  padding-right: 10px;
}

.social-links-menu .item:not(:first-child) {
border-left: 1px solid rgba(33,33,33,.2);
}

.contacts-link--tel {
  display: block;
  margin-bottom: 32px;
font-size: 34px;
line-height: calc(40 / 34);
color: getColor('accent-text');
}